__pycache__/dataHandler.cpython-313.pyc
__pycache__/imageHandler.cpython-312.pyc
__pycache__/imageHandler.cpython-313.pyc
__pycache__/messageGetter.cpython-313.pyc
__pycache__/messageListener.cpython-313.pyc
__pycache__/messageSender.cpython-313.pyc
tempCodeRunnerFile.py
.VSCodeCounter/
settings.json
